name: lint
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  autoformatter:
    strategy:
      fail-fast: false
      matrix:
        source-dir: ["./src/", "./examples/", "./slo/src/"]
        include:
          - source-dir: "./src/"
            solutionFile: "YdbSdk.sln"
          - source-dir: "./examples/"
            solutionFile: "YdbExamples.sln"
          - source-dir: "./slo/src/"
            solutionFile: "src.sln"
    name: autoformat check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Restore
        run: dotnet restore ${{ matrix.source-dir }}${{ matrix.solutionFile }}
      - name: Install ReSharper
        run: dotnet tool install -g JetBrains.ReSharper.GlobalTools --version 2025.2.1
      - name: format all files with auto-formatter
        run: bash ./.github/scripts/format-all-dotnet-code.sh ${{ matrix.source-dir }} ${{ matrix.solutionFile }}
      - name: Check repository diff
        run: bash ./.github/scripts/check-work-copy-equals-to-committed.sh "auto-format broken"

  inspection:
    strategy:
      fail-fast: false
      matrix:
        solutionPath: ["./src/YdbSdk.sln", "./examples/YdbExamples.sln", "./slo/src/src.sln"]
    runs-on: ubuntu-latest
    name: Inspection
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET
        id: setup-dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Restore
        run: dotnet restore ${{ matrix.solutionPath }}
      - name: Inspect code
        uses: muno92/resharper_inspectcode@v1
        with:
          solutionPath: ${{ matrix.solutionPath }}
          include: |
            **.cs
            **.cshtml
          minimumReportSeverity: WARNING
          dotnetVersion: ${{ steps.setup-dotnet.outputs.dotnet-version }}
          version: 2025.2.1
          ignoreIssueType: | 
            UnusedField.Compiler,
            UnusedVariable.Compiler,
            UnusedAutoPropertyAccessor.Global,
            UnusedAnonymousMethodSignature,
            UnusedNullableDirective,
            UnusedTupleComponentInReturnValue,
            UnusedLocalFunction.Compiler,
            UnusedLocalFunctionReturnValue,
            UnusedMethodReturnValue.Global,
            UnusedType.Global,
            UnusedMemberInSuper.Global,
            UnusedMember.Global,
            UnusedMemberHierarchy.Global,
            UnusedLabel,
            UnusedParameter.Global,
            UnusedParameterInPartialMethod,
            UnusedPositionalParameterCompiler,
            UnusedTypeParameter,
            NotAccessedField.Compiler,
            NotAccessedVariable.Compiler,
            NotAccessedField.Global,
            NotAccessedPositionalProperty.Global,
            NotAccessedVariable,
            NotAccessedOutParameterVariable,
            NotAccessedPrimaryConstructorParameterCompiler,
            InconsistentNaming,
            CollectionNeverUpdated.Global,
            CSharpErrors,
            EmptyStatement,
            ObjectCreationAsStatement,
            ParameterOnlyUsedForPreconditionCheck.Local
